body{
	width: 100%;
	height: 100%;
}
#header{
	width: 1343px;
	height: 278px;
	margin-bottom: 20px;
}
#button-sair{
	float: right;
	margin: 24px;
	margin-top: -36px;
}
#content{
	width :1090px;
	height: 551px;
	float: left;
	margin: 5px;
	margin-top: 5px;
	margin-left: 0px;
	
}
footer{	
	background-color: #203f7d;	
	margin-topo: 20px;
}
p{
	color: #fff ;
}
#resumo{
	width: 514px;
	height: 218px;
	float: left;
	padding-top: 11px;
	padding-right: 89px;
	padding-bottom: 0px;
	padding-left: 76px;
	margin-left: 8px;		
}
#texto{
	width :436px;
	height: 75px;
	float: left;
	margin: 5px;
	margin-top: 30px;
	margin-left: 0px;
}
#img-bk{	
	width: 1300px;
	height: 500px;
	padding : 100px;	
	background-image: url(bk.jpg);
	background-repeat: no-repeat;
	background-position: relative;
	background-size: 1400px 1000px;		
}